include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include icici_integration *.css
recursive-include icici_integration *.csv
recursive-include icici_integration *.html
recursive-include icici_integration *.ico
recursive-include icici_integration *.js
recursive-include icici_integration *.json
recursive-include icici_integration *.md
recursive-include icici_integration *.png
recursive-include icici_integration *.py
recursive-include icici_integration *.svg
recursive-include icici_integration *.txt
recursive-exclude icici_integration *.pyc