{% extends "templates/web.html" %}

{%- block title -%}{{_("Not Found")}}{%- endblock -%}

{% block page_content %}

<script>
	// window.is_404 = true;
  
</script>

<div class="error-page">

  <html>
  <body>

  <h1>My First Heading</h1>

  <p>My first paragraph.</p>

  </body>
  </html>

</div>

{% endblock %}





<!-- <!DOCTYPE html >  
<html>  
<head>  
<title> page title</title>  
<script>  
 alert("Hi")
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const fpTxnId = urlParams.get('fpTxnId');
    const enData = urlParams.get('encData');
    const docname = urlParams.get('id');
    // alert (fpTxnId);
    // alert (enData);    // window.open("http://localhost:8000/app/onlinepayment/"+ docname +"?"+ "fptxnid="+ fpTxnId,"_self");
    window.open("http://localhost:8000/app/onlinepayment/"+ docname ,"_self");   
  // window.open("http://10.0.163.42:8000/app/onlinepayment/"+ docname +"?"+ "fpTxnId="+ fpTxnId,"_self");
</script>  
</head>  
<body>  
	<img src="/assets/frappe/images/ui-states/Loader.gif" />
</body>  
</html>  -->